<div data-animation="default" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-duration="400" id="Navbar">
  <div class="navigation-container">
    <div class="navigation-left">
      <a href="index.html" class="brand w-nav-brand">
        <div class="text-block-92">Build<span class="text-span-23"> Co</span></div>
      </a>
    </div>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="index.html" class="nav-link company-link w-nav-link">Home</a>
      <a href="about.html" class="nav-link company-link w-nav-link">About</a>
      <div class="div-block-197">
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle-2 w-dropdown-toggle" aria-controls="dropdown-list" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
            <div class="nav-link company-link">Services</div>
          </div>
          <nav class="dropdown-list w-dropdown-list" id="dropdown-list" aria-labelledby="dropdown-toggle">
            <a href="project-management.html" class="dropdown-link w-dropdown-link" tabindex="0">
              <span class="text-span-21">Project Management</span>
            </a>
            <a href="construction.html" class="dropdown-link-2 w-dropdown-link" tabindex="0">
              <span class="text-span-21">Construction</span>
            </a>
            <a href="fixed-fee-permit-packages.html" class="dropdown-link-2 fixed-fee w-dropdown-link" tabindex="0">Fixed-Fee Permit Approval</a>
          </nav>
        </div>
      </div>
      <a href="contact.html" class="nav-link company-link w-nav-link">Contact</a>
    </nav>
    <div class="navigation-right">
      <div class="menu-button w-nav-button" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
        <div class="icon-2 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
